@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"; /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
:before,
:after {
  box-sizing: border-box;
}
html {
  -moz-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr;
}
.header {
  position: relative;
  display: grid;
  place-items: center;
  background-color: #0d0d0d;
}
.trash,
.input_wrapper .button {
  cursor: pointer;
}
.trash:active,
.input_wrapper .button:active {
  transform: scale(0.98);
}
.main {
  display: grid;
  justify-content: center;
  padding: 0 20px;
  grid-auto-columns: minmax(auto, 736px);
  grid-auto-rows: minmax(72px, auto);
}
.input_wrapper {
  position: absolute;
  bottom: -27px;
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}
.input_wrapper .input {
  padding: 16px;
  width: 100%;
  max-width: 638px;
  background: #262626;
  border: none;
  outline: 1px solid #0d0d0d;
  border-radius: 8px;
  color: gray;
}
.input_wrapper .input:focus-visible {
  outline: 1px solid #1e6f9f;
}
.input_wrapper .button {
  background-color: #1e6f9f;
  border-radius: 8px;
  width: 90px;
  height: 52px;
  display: flex;
  place-items: center;
  gap: 8px;
  justify-content: center;
  border: none;
  color: #f2f2f2;
  font-weight: 700;
  transition: background-color 0.3s linear;
}
.input_wrapper .button:hover {
  background-color: #333;
}
.todo_list {
  display: grid;
  gap: 12px;
  color: #f2f2f2;
  padding: 0;
  max-width: 736px;
  margin-top: 50px;
  transition: margin-top 0.3s linear;
}
@media screen and (min-width: 768px) {
  .todo_list {
    margin-top: 100px;
  }
}
.todo_item {
  width: 100%;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  gap: 12px;
  min-height: 72px;
  background: #333333;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0000000f;
  border: 1px solid #333333;
  font-weight: 400;
  font-size: 14px;
  transition: background-color 0.3s linear;
  padding: 16px;
}
.todo_item:hover {
  background-color: #262626;
  cursor: pointer;
}
.trash {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url(/assets/trash-5a932a8b.svg);
  border-radius: 4px;
  background-position: center;
  transition: background-image 0.3s ease, background-color 0.3s linear;
}
.trash:hover {
  background-image: url(/assets/trashhover-26895cd5.svg);
  background-color: #333;
}
.completed {
  text-decoration: line-through #5e60ce;
}
.check_input {
  appearance: none;
  position: absolute;
}
.check_box {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(/assets/uncheked-45551154.svg);
  position: absolute;
  background-repeat: no-repeat;
}
.check_box:hover {
  opacity: 0.7;
}
.check_input:checked + .check_box {
  background-image: url(/assets/checked-c6e5fc67.svg);
}
.check_input:checked + .check_box:hover {
  opacity: 0.7;
}
.alert {
  position: fixed;
  bottom: -50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 15;
  border-radius: 8px;
  padding: 0 10px;
  color: #f0f8ff;
  max-width: 736px;
  min-height: 50px;
  transition: bottom 0.5s linear;
}
.active {
  bottom: 1%;
}
body {
  background-color: #1a1a1a;
  color: gray;
}
